body {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
}

#terminal {
    background-color: #000000;
    color: #ffffff;
}

#terminal .terminal-cursor {
    background-color: #ff0000;
    color: #ffffff;
}
